<div class="content-wrapper descend">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <div class="position-relative">
                  <label for="imageInput" class="profile-image">                    
                    <div class=" image d-flex">
                    <img *ngIf="allUsers && allUsers.profile && allUsers.profile[0]?.url"
                      [src]="allUsers.profile[0].url" class="img-circle elevation-3" alt="User profile picture"
                      style="width: 150px; height: 150px;">

                    <img *ngIf="!allUsers || !allUsers.profile || !allUsers.profile[0]?.url" 
                  src="https://th.bing.com/th/id/OIP.yOis-r7BEqpfzx6Od63TLQAAAA?w=470&h=500&rs=1&pid=ImgDetMain" 
                  alt="Profile Picture" width="150" style="border-radius: 50%;">
                    <span class="pencil-icon">
                      <i class="fas fa-pencil"></i>
                    </span>
                    </div>
                  </label>

                </div>
              </div>

              <h3 class="profile-username text-center">{{content}}</h3>

              <p class="text-muted text-center">{{userData.title}}</p>

              <strong><i class="fas fa-user mr-1"></i> Username </strong>
              <a class="float-right"> {{userData.firstname| uppercase}} {{userData.lastname |capitalize}}</a>
              <hr>
              <strong><i class="fas fa-envelope mr-1"></i> Email </strong>
              <a class="float-right"> {{userData.email}}</a>
              <hr>
              <strong><i class="fas fa-phone mr-1"></i> Contact </strong>
              <a class="float-right"> {{userData.phone}}</a>
              <hr>


              <!-- /.card-header -->

              <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
              <a class="float-right">{{userData.address}}</a>
              <hr>
            </div>
            <!-- /.card-body -->
            <!-- /.card -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">

                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">

                <div class="tab-pane" id="settings">
                  <div class="form-group">
                    <div class="text-center">
                      <div class="position-relative">
                        <label for="imageInput" class="profile-image">
                          <label>
                            <input type="file" style="display: none" (change)="onFileSelected($event)" accept="image/*">
                            <img src="https://th.bing.com/th/id/OIP.yOis-r7BEqpfzx6Od63TLQAAAA?w=470&h=500&rs=1&pid=ImgDetMain" alt="Profile Picture" width="150">
                          </label>
                          <div>
                            <button type="submit" class="btn btn-primary">Update Profile Picture</button>

                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="d-flex" style="gap: 5px;">
        <div class="form-group col-sm-6">
          <label for="firstname">FirstName</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="form.firstname"
            required
            minlength="3"
            maxlength="20"
            #firstname="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && firstname.errors }"
          />
          <div class="invalid-feedback" *ngIf="firstname.errors && f.submitted">
            <div *ngIf="firstname.errors['required']">firstname is required</div>
            <div *ngIf="firstname.errors['minlength']">
              firstname must be at least 3 characters
            </div>
            <div *ngIf="firstname.errors['maxlength']">
              firstname must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="lastname">LastName</label>
          <input
            type="text"
            class="form-control"
            name="lastname"
            [(ngModel)]="form.lastname"
            required
            minlength="3"
            maxlength="20"
            #lastname="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && lastname.errors }"
          />
          <div class="invalid-feedback" *ngIf="lastname.errors && f.submitted">
            <div *ngIf="lastname.errors['required']">lastname is required</div>
            <div *ngIf="lastname.errors['minlength']">
              lastname must be at least 3 characters
            </div>
            <div *ngIf="lastname.errors['maxlength']">
              lastname must be at most 20 characters
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex" style="gap: 5px;">
        <div class="form-group col-sm-6">
          <label for="phone">Phone</label>
          <input
            type="number"
            class="form-control"
            name="phone"
            [(ngModel)]="form.phone"
            required
            minlength="9"
            maxlength="9"
            #phone="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"
          />
          <div class="invalid-feedback" *ngIf="phone.errors && f.submitted">
            <div *ngIf="phone.errors['required']">phone is required</div>
            <div *ngIf="phone.errors['minlength']">
              phone number must be at least 9 numbers
            </div>
            <div *ngIf="phone.errors['maxlength']">
              phone number must be at most 9 numbers
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            [(ngModel)]="form.address"
            required
            minlength="3"
            maxlength="20"
            #address="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && address.errors }"
          />
          <div class="invalid-feedback" *ngIf="address.errors && f.submitted">
            <div *ngIf="address.errors['required']">address is required</div>
            <div *ngIf="address.errors['minlength']">
              address must be at least 3 characters
            </div>
            <div *ngIf="address.errors['maxlength']">
              address must be at most 20 characters
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex" style="gap: 5px;">

        <div class="form-group col-sm-6">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        </div>
        <div class="form-group">
          <button class="btn btn-danger btn-block">Update</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Update failed!<br />{{ errorMessage }}
        </div>
 
      </form>
  
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->